<h1>Listing tutorials</h1>

<table>
  <thead>
    <tr>
      <th>Rss feed</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= tutorial.rss_feed %></td>
        <td><%= tutorial.title %></td>
        <td><%= link_to 'Show', tutorial %></td>
        <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
        <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <% tutorial.filter.each do |filter| %>
          <td><%= filter.filter_type %> <%= filter.regex %></td>
        <% end %>
      </tr>
      <tr>
        <% tutorial.post.each do |post| %>
          <td><%= post.title %> <%= post.link %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial', new_tutorial_path %>
