<p id="notice"><%= notice %></p>

<p>
  <strong>Rss feed:</strong>
  <%= @tutorial.rss_feed %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
