<!DOCTYPE html>
<html>
<head>
  <title>Cube</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# navbar section /app/views/shared/_navbar.html.erb %>
<%= render 'shared/navbar' %>

<%# alert message notification /app/views/shared/_alert.html.erb %>
<%= render 'shared/message' %>

<%# tag cloud /app/views/shared/_tag_cloud.html.erb %>
<%= render 'shared/tag_cloud' %>

<%= yield %>

</body>
</html>
